a {
  color: #fff;
  font-size: 20px;
}

.menu {
  position: fixed;
  width: 100vw;
  width: 100vh;
  top: 64px;
  left: 0;
  &__content {
    position: absolute;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -40%;
    background-color: black;
    transition: all 0.5s ease-in-out;
    &_active {
      position: absolute;
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      background-color: black;
      transition: all 0.5s ease-in-out;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font-size: 28px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &_item {
      margin-bottom: 10px;
      & a {
        display: flex;
        align-items: center;
        & span {
          margin-right: 10px;
        }
        &:hover {
          color: rgb(142, 161, 179);
        }
      }
    }
  }
}

.blur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #00000000;
  transition: all 0.5s ease-in-out;
  &_active {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #00000087;
    transition: all 0.5s ease-in-out;
  }
}
