* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: rgb(97, 207, 247);
}

main {
  padding: 80px 50px 50px;
}

.burger-btn {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  &:before {
    width: 20px;
    height: 2px;
    background-color: black;
    content: "";
    position: absolute;
    top: 0;
  }
  &:after {
    width: 20px;
    height: 2px;
    background-color: black;
    content: "";
    position: absolute;
    bottom: 0;
  }
  & span {
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 9px;
  }
}
